.profileContainer{
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;

}

.info-ctn{
    padding: 0 16px;
    max-width: 100vw;
    box-sizing: border-box;
}


.profileContainer .MuiTypography-h6{
    text-align: center;
    width: 100%;
}

.MuiAppBar-colorPrimary{
    background-color: #f06292 !important;
} 

.image-profile-section{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 80px;
    padding: 24px 0;
    box-sizing: border-box;
    margin-bottom: 2em;
}

.image-profile{
    border-radius: 50%;
    width: 115px;
    height: 115px;
    display: flex;
    background-color:#46E5AA;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
}

.info-ctn h3{
    color: #f06292;
}

.MuiIconButton-root .MuiSvgIcon-root{
    color:white;
}