.events-container{
    padding:16px;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: all .3s;
}

.galupo-Card{
    max-width: 400px;
    max-height: 300px;
    border: 1px solid #e91e63;
    box-sizing: border-box;
    box-shadow: 0px 4px 12px #10202744;
    margin:12px;
}

.card-title-banner{
    position: absolute;
    background-color: #2e2e2eDD;
    padding: 6px 6px;
    box-sizing: border-box;
    width: 100%;
}

.card-title-banner label{
    color:#e91e63;
}

.galupo-card-image{
    width: 100%;
}

.galupo-card-description{
    padding: 4px 10px;
}

.galupo-card-container{
    position: relative;
    box-sizing: border-box;
}

.galupo-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.create-event-button{
    width: 80vw;
    padding:16px !important;
    box-sizing: border-box !important;
    border:3px dashed #a4a4a4 !important;
}
.create-event-button label{
    margin:0 8px; 
    color:#a4a4a4
}

.create-event-button label:nth-child(1){
    color:#00e676;
    font-size: 1.5em;
}

.material-icons{
    color: white;
    text-decoration: none;
    align-self: center;
    display: flex;
}

.MuiButtonBase-root a{
    text-decoration: none;
}

.MuiLink-underlineNone{
    underline: "none";
}

a:-webkit-any-link {
    text-decoration: none;
}

.newEvent-container{
    display: flex;
    flex:1;
    padding:16px;
    box-sizing: border-box;
}

.MuiFormLabel-root.Mui-focused{
    color:blue !important;
}

.newEventForm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.newEventForm .MuiTextField-root {
    margin:9px;
}